*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
}

#menu-area {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 0 60px;
    width: 100%;
    top: 0;
    transition: background 0.5s;
}

#menu-area .logo img {
    height: 70px;
    transition: hieght 0.5s;
    padding-top: 10px;
}

#menu-area ul {
    width: 500px;
    justify-content: space-around;
    list-style: none;
    display: flex;
    align-items: center;
}

#menu-area ul li a{
    text-decoration: none;
    color: #262626;
}

.banner-area {
    background: url('../images/hero.jpg');

    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.banner-text h2{
    font-family: big john;
    font-size: 60px;
}

.banner-text a {
    text-decoration: none;
    background: #262626;
    color: #fff;
    padding: 15px 30px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 50px;
}

#menu-area.cus-nav {
    background: #262626;
    z-index: 999;
}

#menu-area.cus-nav a {
    color: #fff;
}

#menu-area.cus-nav .logo img{
    height: 65px;
}


.section-1 {
    background-color: #f7f7f7;
    padding: 8rem 0;
    text-align: center;
}

.section-1 h3{
    font-size: 16px;
    color: #727272;
    text-transform: uppercase;
    margin: 0;
    font-family: Oswald, "Times New Roman", Times, serif;
    font-weight: 400;
    letter-spacing: 0.15rem;
    padding-bottom: 32px;
}

.section-1 h2{
    padding-bottom: 32px;
    font-size: 36px;
    font-weight: 600;
}

.main-color {
    color: #727272;
}

.section-1__content {
    text-align: center;
    margin: 0 18rem;
}

.section-1__content p {
    font-size: 18px;
    text-align: justify;
    text-align-last: center;
    font-weight: 400;
}

.section-2 {
    padding: 4rem 0;
}

.section-2__content {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

article.card {
    /* position: absolute;
    left: 50%;
    top: 50%;
    left: 50%; */
    width: 350px;
    height: 350px;
    /* -webkit-transform: translate(-50%, -50%) translateZ(0);
            transform: translate(-50%, -50%) translateZ(0); */
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  article.card .thumb {
    width: auto;
    height: 260px;

    background-size: cover;
    border-radius: 3px;
  }

  article.card .l{
    background-image: url(../images/licence.svg)  ;
  }
  article.card .m{
    background-image: url(../images/master.svg)  ;
  }
  article.card .d{
    background-image: url(../images/doctorat.svg) ;
  }
  article.card .infos {
    width: auto;
    height: 350px;
    position: relative;
    padding: 14px 24px;
    background: #fff;
    -webkit-transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
    transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  }
  article.card .infos .title {
    position: relative;
    margin: 10px 0;
    letter-spacing: 3px;
    color: #152536;
    font-family: "Grotesque Black", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-shadow: 0 0 0px #32577f;
  }
  article.card .infos .flag {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 35px;
    height: 23px;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/flag.png") no-repeat top right;
    background-size: 100% auto;
    display: inline-block;
  }
  article.card .infos .date, article.card .infos .seats {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: .85rem;
    color: rgba(21, 37, 54, 0.7);
    font-family: "Grotesque", sans-serif;
  }
  article.card .infos .seats {
    display: inline-block;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 0;
    -webkit-transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  }
  article.card .infos .txt {
    font-family: "Merriweather", sans-serif;
    line-height: 2;
    font-size: 25px;
    color: rgba(21, 37, 54, 0.7);
    opacity: 0;
    -webkit-transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  }
  article.card .infos .details {
    position: absolute;
    left: 0;
    left: 0;
    bottom: 0;
    margin: 10px 0;
    padding: 20px 24px;
    letter-spacing: 1px;
    color: #4e958b;
    font-family: "Grotesque Black", sans-serif;
    font-size: .9rem;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  }
  article.card:hover .infos {
    -webkit-transform: translateY(-260px);
            transform: translateY(-260px);
  }
  article.card:hover .infos .seats, article.card:hover .infos .txt, article.card:hover .infos .details {
    opacity: 1;
  }


  .section-3{
    background-color: #212121;
    padding: 1rem 0;
    text-align: center;
  }

  .section-3__titre{
    padding-top: 10px;
    padding-bottom: 30px;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
  }
  .desc{
    font-size: 16px;
  }

  .section-3__content {
      padding: 0 3rem;
      display: flex;
      /* flex-direction: row; */
      justify-content: space-between;

  }

  .section-3__content--card {
    width: 350px;
    height: 200px;
    color: #fff;
    font-size: 20px;
  }




  .card-main{
    position: relative;
    background-color: #ffffff;
    padding: 20px 30px;
    width: 425px;
    margin: 50px auto 0;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
  }
  .user-details{
    display: inline-block;
    width: 100%;
    margin: 0 0 1.5em;
  }
  .user-avatar-status{
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: 75px;
  }
  .s{
    background: url(../images/science.svg) no-repeat center /cover;
  }
  .e{
    background: url(../images/social2.svg) no-repeat center /cover;
  }
  .h{
    background: url(../images/lettre2.svg) no-repeat center /cover;
  }
  .user-avatar{
    vertical-align:middle;
    height: 60px;
    width: 60px;

    border-radius: 50%;
    border:1px solid #ffffff;
    margin-right: 15px;
    display: inline-block;
  }
  .user-status{
    height: 10px;
    width: 10px;
    background-color: #63d8b5;
    border-radius: 50%;
    border: 1px solid #ffffff;
    position: absolute;
    right: 15px;
    bottom: 10px;
    z-index:999999;

  }
  .user-info{
    vertical-align:middle;
    display: inline-block;
    width: calc(100% - 121px);
  }
  .right-icon{
    vertical-align: middle;
    height: 40px;
    width: 40px;
    background-color: #f1f4f4;
    border-radius: 50%;
    display: inline-block;
    position: relative;
  }
  .info-extra{
    width: 100%;
    display: block;
    margin: 0 0 2.5em;
  }
  .bottom-left{
    display: inline-block;
    width: 49%;
  }
  .bottom-left p{
    font-weight: 600;
    color: #333333;
    letter-spacing: .5px;
    margin: .5em 0 0;
  }
  .colored-line{
    width: 80%;
    height: 6px;
    border-radius: 3px;
    background-color: #63d8b5;
    margin: 1em 0;
  }
  .bottom-right{
    width: 49%;
    display: inline-block;
    float: right;
  }
  .bottom-right ul{
    padding: 0;
    margin: 1.1em 0 0;
  }
  .bottom-right ul li{
    list-style: none;
    padding: 0;
    width: 20px;
    display: inline-block;
  }
  .bottom-right ul li div{
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #f1f4f4;
  }
  .more-avatar li:first-child div{
    background: lightgray url(../images/hero.jpg) no-repeat center / cover;
  }
  .more-avatar li:nth-child(2) div{
   background: lightgray url(../images/hero.jpg) no-repeat center / cover;
  }
  .more-avatar li:nth-child(3) div{
  background: lightgray url(../images/hero.jpg) no-repeat center / cover;
  }

  .section-4__content--card {
    padding: 0 3rem;
    padding-bottom: 4rem;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;

}

.section-4__titre{
    margin-top: 40px;
    color: #000;
    text-align: center;
}


.section{
    background-color: blueviolet;
    margin: 100px auto;
    padding: auto;
    height: 500px;

}
.aside{
    background-color: grey ;
    position: relative;
    margin: 100px auto;
    padding: auto;
    height: 500px;

}
.topheader {

    padding: 50px;
    text-align: center;
  }

  .pagecourant{
    background-color: darkviolet;
    color: inherit;
  }


  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    max-height: 60%;

    padding-top: 60px;
  }

  .modal-content {
    background-color: #fefefe;

    border: 20px #eeeeee solid;

  }


  .construction{
    top: 40px;
    left: 40px;
    position: relative;

  }

.content{
  padding:20px;
}
  .brand-logo > img {
    height: 65px;
    width: 70px;
    border-radius:50% 50% ;

  }
  .head>div>img{
    height: 100px;
    width: 100px;

  }

  h4 {
    text-align: center;

  }


  .menu-reduire {
      height: 55vh;
  }

  .banner-text-petit {
      text-align: center;
  }

  .banner-text-petit h2{
    display: inline-block;
    margin-top: 70px;
    font-weight: 900;
}
